# =========================================
# C++ Build Files
# =========================================
*.exe
*.out
*.o
*.obj
*.dll
*.pdb
*.ilk

# =========================================
# VS Code Settings
# =========================================
.vscode/
.vs/
*.code-workspace

# =========================================
# Python / Jupyter
# =========================================
__pycache__/
.ipynb_checkpoints/
*.pyc

# =========================================
# System Files
# =========================================
Thumbs.db
.DS_Store

# =========================================
# Logs
# =========================================
*.log
